page-landing {
    .scroll-content {
        background-color: #DCDCDC;
        font-family: "Helvetica", "Arial", sans-serif;
        padding-top: 5px !important;
    }
    .logo-row {
        margin-bottom: 25px;
    }
    .logo {
        margin: auto;
        display: block;
    }
    .info-card {
        background-color: #fff;
        border-radius: 5px;
        min-height: 60vh;
        box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    }
    .description-list {
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        .icon {
            max-width: 75px;
            vertical-align: middle;
        }
        p {
            font-size: 1.5em;
        }
        .description-row {
            justify-content: space-between;
        }
    }
    .sign-up {
        
    }
    .mobile {
        //min-height:0;
        .icon {
            max-width: 70px;
        }
        p {
            font-size: 1.25em;
        }
    }
    .mobile:first-child {
        //min-height: 4vh;
    }
    
}
