page-results {
    text-align: center;
    .scroll-content {
        background-color: #f4f4f4;
        padding: 0 !important;
    }
    .weekNumber {
        h1 {
            margin: 0 !important;
        }
    }

    ion-card-header {
        font-size: 1.75rem !important;
    }
    .team-details {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img {
            margin-bottom: 5px;
            border-radius: 5px;
        }
    }
    .at {
        display: flex;
        justify-content: center;
        align-items: center;
        h1 {
            font-weight: bold;
            font-size: 2rem;
        }
    }
}
